@font-face {
    font-family: 'Comic Sans MS';
    src: url('fonts/Comic Sans MS/Comic Sans MS.ttf') format('truetype');
}

@font-face {
    font-family: 'Fontin-Regular';
    src: url('fonts/Fontin-Regular/Fontin-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono/') format('truetype');
}


        /* 使用 CSS 设置标题的字体 */
        h1 {
            font-family: Times New Roman; 
            font-size:50px;
          
        }
                /* 使用 CSS 设置标题的字体 */
        h2 {
            font-family: Times New Roman; 

            font-weight: 400;
            font-size:30px;
          
        }
        body {
            font-family: Times New Roman ,宋体; /* 设置正文字体为 Arial 或者 sans-serif */
            font-size:18px;
          
        }
         code {
            font-family: 'JetBrains Mono', monospace;
          
        } 
        #result {
            font-family: Fontin-Regular, Arial, sans-serif;
            margin-top: 10px;
            text-align: right;
            font-style: italic;
            color: #4a4949;
        }
